<?php view::content()?>
<div class="listar">
<h3>Agregar Categoria</h3><?php echo Html::link('parametros/','Parametros')?>
	<?php echo Form::open()?>
    <table>
        <tr>
            <td>Nombres<?php echo Form::text('parametros.nombres')?></td>
       	</tr>
        <tr>
            <td>Valor<?php echo Form::text('parametros.valor')?></td>
       	</tr>
        <tr>
            <td>Descripcion<?php echo Form::text('parametros.descripcion')?></td>
       	</tr>
        <tr>
            <td><?php echo Form::hidden('parametros.estado','','1')?><?php echo Form::submit('Agregar');?></td>
        </tr>
    </table>
    <?php echo Form::close();?>          
</div>