<div class="pagina">
    <div class="listar">
        <div class="enlaces">
            <ul id="enlaces">
                <li class="w"><?php echo Html::link('parametros/','Atras')?></li>
                <li class="w"><?php echo Ajax::link('parametros/create/','Agregar parametro','ver')?></li>
                <li class="w"><a href="">Mostrar todo</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="ver">
        <p style="text-align:center"><b>Lista de parametros</b></p>
        <table>
            <tr>
                <td>N°</td>
                <td>Nombre</td>
                <td>Valor</td>
                <td>Descripcion</td>
                <td>Op</td>
            </tr>
            <?php $n=0; foreach($verParametros as $param): $n++;?>
            <tr>
                <td><?php echo $n?></td>
                <td><?php echo $param->nombres?></td>
                <td><?php echo $param->valor?></td>
                <td><?php echo $param->descripcion?></td>
                <td><?php 
                    echo Html::linkAction("editar/$param->id",'Editar').' / ';
                    echo Html::linkAction("del/$param->id",'Borrar')?>
                </td>
            </tr>
            <?php endforeach;?>
        </table>
        </div>
    </div>
</div>
