<?php view::content();?>
<?php echo Form::open();
	echo Form::hidden('clientes.id'); 
	echo Form::hidden('clientes.estado','','1'); ?>
	<table>
        <tr>
            <th colspan="2" class="titulo">Modificar Cliente</th>
        </tr>
        <tr>
            <td>Nombres <?php echo Form::text('clientes.nombres')?></td>
            <td>Apellidos <?php echo Form::text('clientes.apellidos')?></td>
       	</tr>
        <tr>
            <td>DNI <?php echo Form::text('clientes.dni')?></td>
            <td>Coreo <?php echo Form::text('clientes.correo')?></td>
       	</tr>
        <tr>
            <td>Telefono <?php echo Form::text('clientes.telefono')?></td>
            <td>Direccion <?php echo Form::text('clientes.direccion')?></td>
       	</tr>
        <tr>
            <td>R. social <?php echo Form::text('clientes.razonsocial')?></td>
            <td>RUC <?php echo Form::text('clientes.ruc')?></td>
       	</tr>
        <tr>
            <td colspan="2"><?php echo Form::submit('Agregar');echo Html::link('clientes','Cancelar',array('class'=>'cancelar'))?></td>
        </tr>
    </table>
<?php echo Form::close();?>
