<div class="row">
    <dl class="sub-nav">
      <dd class="active"><?php echo Html::link('clientes/','Mostrar Todo')?></dd>
      <dd class="active"><?php echo Ajax::link('clientes/create/','Agregar cliente','ver')?></dd>
    </dl>
    <div class="clear"></div>
    <div id="ver">
    <table>
        <tr>
            <th colspan="6" class="titulo">Lista de clientes</th>
        </tr>
        <tr>
            <td>N°</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>DNI</td>
            <td>Ruc</td>
            <td>Op</td>
        </tr>
        <?php $n=0; foreach($verClientes as $cliente): $n++;?>
        <tr>
            <td><?php echo $n?></td>
            <td><?php echo $cliente->nombres?></td>
            <td><?php echo $cliente->apellidos?></td>
            <td><?php echo $cliente->dni?></td>
            <td><?php echo $cliente->ruc?></td>
            <td><?php 
				echo Ajax::linkAction("editar/$cliente->id",'Editar','ver').' / ';
            	echo Js::linkAction("del/$cliente->id",'Borrar')?>
           	</td>
        </tr>
        <?php endforeach;?>
    </table>
    </div>
</div>