<div id="ver">
	<?php echo Form::open('reportes/fecha')?>
    <table>
        <tr>
			<td><?php echo Form::text('fecha')?></td>
            <td colspan="2"><?php echo Form::submit('Ver')?></td>
       	</tr>
    </table> 
	<?php echo Form::close();?>
	<br />
    <table>
    	<tr>
        	<th colspan="6" class="titulo">Ventas del día</th>
        </tr>
        <tr>
            <td>N°</td>
            <td>Producto</td>
            <td>Precio</td>
            <td>Cantidad</td>
            <td>Subtotal</td>
            <td>Documento</td>
        </tr>
        <?php $n=0; foreach($listaVentas as $value): $n++;?>
        <tr>
        	<td><?php echo $n?></td>
            <td><?php echo $value->getProductos()->nombres?></td>
            <td><?php echo $value->getProductos()->precio?></td>
        	<td><?php echo $value->cantidad?></td>
        	<td><?php echo $value->subtotal?></td>
            <td><?php echo $value->getDocumentos()->nombres?></td>
        </tr>
        <?php endforeach;?>
    </table>
    <br />
</div>