<div class="pagina">
        <div class="enlaces">
            <ul id="enlaces">
                <li class="w"><?php echo Html::link('reportes/','Atras')?></li>
                <li class="w"><?php echo Ajax::link('reportes/dia','Ventas del dia','ver')?></li>
                <li class="w"><a href="">Mostrar todo</a></li>
            </ul>
        </div>
    	<div class="clear"></div>
        <div id="ver">
        <?php echo Form::open()?>
        <table>
            <tr>
                <td><?php echo Form::text('fecha')?></td>
                <td colspan="2"><?php echo Form::submit('Ver')?></td>
            </tr>
        </table> 
        <?php echo Form::close();?>
        <br />
        <table>
            <tr>
                <th colspan="6" class="titulo">Ventas del día</th>
            </tr>
            <tr>
                <td>N°</td>
                <td>Producto</td>
                <td>Precio</td>
                <td>Cantidad</td>
                <td>Subtotal</td>
                <td>Documento</td>
            </tr>
            <?php $n=0; foreach($listaVentas as $value): $n++;?>
            <tr>
                <td><?php echo $n?></td>
                <td><?php echo $value->getProductos()->nombres?></td>
                <td><?php echo $value->getProductos()->precio?></td>
                <td><?php echo $value->cantidad?></td>
                <td><?php echo $value->subtotal?></td>
                <td><?php echo $value->getDocumentos()->nombres?></td>
            </tr>
            <?php endforeach;?>
        </table>
        <br />
    </div>
</div>
