<div class="row">
    <dl class="sub-nav">
      <dd class="active"><?php echo Html::link('reportes/','Mostrar Todo')?></dd>
      <dd class="active"><?php echo Ajax::link('reportes/dia','Ventas del dia','ver')?></dd>
    </dl>

    <div class="clear"></div>
    <div id="ver">
    <table>
         
        <tr>
            <td>Total vendido hoy</td>
            <td><?php echo ''?></td>
        </tr>
    </table>
    </div>
</div>
