<?php view::content();?>
<?php echo Form::open();?>
<?php echo Form::hidden('usuarios.id'); 
	echo Form::hidden('usuarios.estado','','1')?>
	<table>
    	<tr>
        	<th colspan="2" class="titulo">Modificar Facultad</th>
        </tr>
        <tr>
            <td>Login <?php echo Form::text('usuarios.login')?></td>
            <td>Clave<?php echo Form::text('usuarios.password')?></td>
       	</tr>
        <tr>
            <td>Nombres<?php echo Form::text('usuarios.nombres')?></td>
            <td>Apellidos<?php echo Form::text('usuarios.apellidos')?></td>
       	</tr>
        <tr>
            <td>DNI<?php echo Form::text('usuarios.dni')?></td>
            <td>Coreo<?php echo Form::text('usuarios.correo')?></td>
       	</tr>
        <tr>
            <td>Telefono<?php echo Form::text('usuarios.telefono')?></td>
            <td>Direccion<?php echo Form::text('usuarios.direccion')?></td>
       	</tr>
        <tr>
            <td colspan="2"><?php echo Form::submit('Agregar');echo Html::link('usuarios','Cancelar',array('class'=>'cancelar'))?></td>
        </tr>
    </table>
<?php echo Form::close();?>
