<div class="row">
    <dl class="sub-nav">
      <dd class="active"><?php echo Html::link('usuarios/','Mostrar Todo')?></dd>
      <dd class="active"><?php echo Ajax::link('usuarios/create/','Agregar usuario','ver')?></dd>
    </dl>

    <div class="clear"></div>
    <div id="ver">
    <table>
    	<tr>
        	<th colspan="6" class="titulo">Lista de Usuarios</th>
        </tr>
        <tr>
            <td>N°</td>
            <td>Login</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>telefono</td>
            <td>Op</td>
        </tr>
        <?php $n=0; foreach($verUsuarios as $user): $n++;?>
        <tr>
            <td><?php echo $n?></td>
            <td><?php echo $user->login?></td>
            <td><?php echo $user->nombres?></td>
            <td><?php echo $user->apellidos?></td>
            <td><?php echo $user->telefono?></td>
            <td><?php 
				echo Ajax::linkAction("editar/$user->id",'Editar','ver').' / ';
            	echo Js::linkAction("del/$user->id",'Borrar')?>
           	</td>
        </tr>
        <?php endforeach;?>
    </table>
    </div>
</div>
