* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fdfdfd;
    font-family: Arial, Helvetica;
}
#head {
    height: 53px;
    background-color:#648CD0;
    background: ;
}
#head h1 {
    font-size: 30px;
    padding: 10px 8px 15px;
    margin: 0;
    float: left;
    color: #fff;
}
.app {
    font-size: 30px;
    margin: 0;
    color: #8A6F5C;
}
.title {
    font-size: 30px;
    margin: 0;
    color: #333333;
}
#head #info-app {
    font-size: 20px;
    padding: 20px 0px 15px;
    margin: 0;
    float: left;
    color: #fff;
}
#config a {
    background-color: #8A6F5C;
    padding: .2em;
    color: #fff;
    text-decoration: none;
}
#config a:hover {
    background-color: #000;
}
#footer {
    background-color:#1E2557;
    border-top: 4px solid #999;
    color: white;
    padding: 1em;
    height: 25px;
}
#footer a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
#footer a:hover {
    color: #000;
}
#footer p{
    font-size: 14px;
    color: #d1a88b;
}
#footer ul.links {
    text-align: center;
    list-style: none inside;
    padding: 0;
}
#footer ul.links li {
    display: inline;
    color: #D1A88B;
}
#logo-kumbia {
    margin-right: auto;
    margin-top: 40px;
    display: block;
    margin-left: 100px;
    width: 160px;
}
#info{
    background-color: #f8f8f8;
    margin: 20px 20px 30px 100px;
    border:1px solid #E5E5E5;
    padding: 2em;
    clear: both;
}
#info h1 {
    font-size: 1.5em;
    color: #333333;
    margin: 0;
    text-align: center
}
#info h2 {
    font-size: 1.5em;
    color: #333333;
    margin: 0;
}
#info p,li {
    color: #333333;
    font-size: 15px;
}
#info ul{
    margin-left: 40px;
}
.alignright #config {
    font-size: 20px;
    margin: 15px 20px;
    color: #fff;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.clear {
    clear: both;
}
#conf {
margin-top: 1em;
}
h4 {
margin-top: 1em;
}
h4 span {
color: #8A6F5C;
}
#conf p {
color: #15428b;
}
