/* Scaffold */
#scaffold {

margin: 1em;
font-family:arial;
font-size: 14px;
}
#scaffold table{
width:100%;
border-collapse: collapse;
border: 1px solid #D9D9D9;
margin:10px 0pt 15px;
padding:0px;
}
#scaffold th{
background: #D7DDE4;
border-right: 1px solid #CDCDCD;
border-bottom: 1px solid #CDCDCD;
text-align: left;
font-weight:bold;
padding: 6px;
text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8);
}
#scaffold tr{
border-bottom: 1px solid #F1F5F9;
background:#FFF;
}
#scaffold tr:nth-child(even) {
background:#F1F5F9;
}
#scaffold tr:hover{
background:#efe;
}
label, input{
display: block;
}
#scaffold td{
border-right:1px solid #D9D9D9;
padding: 4px;
}
.paginator{
}
.paginator .nextprev{
  color: #000;
}
.paginator a{
border:1px solid #e8ebf1;
padding:.5em;
text-decoration:none;
margin: .5em .1em;
background:#FFF;
}
.paginator a:hover{
background: #e8ebf1;
}
.paginator strong{
background: #e8ebf1;
border:1px solid #e8ebf1;
padding:.5em;
margin: .5em .1em;
}
.actions {
border-top: dotted 1px grey;
padding-top: 1em;
margin: .5em 0 0;
}
.actions a{
font-size: 1em;
	padding: 4px;
        margin: 1em 0;
	background: #D1D1D1 url(../img/button.png) repeat-x left center;
	border: 1px solid #FFF;
	border-bottom: 1px solid #777;
	border-right: 1px solid #777;
        text-decoration: none;
        color: #000;
}
.actions a:hover {
        background: #65a5e1 url(../img/button-add.png) repeat-x left center;
}
.actions a.del:hover{
        background: #ffabab url(../img/button-delete.png) repeat-x left center;
	color: #f00;
}
label {
   font-weight:bold;
}
.title{
   font-size: 1.5em;
}
fieldset{
	border: 0;
	padding: 0;
	margin: 1em 0;
}

/*textarea, input[type="text"], input[type="password"] {
	border: 1px solid #BBB;
	padding: 2px;
        width:80%;
*/
}
input[type="submit"]{
	font-size: 1em;
	color: #000;
	padding: 4px;
        margin: 5px 0;
	background: #D1D1D1 url(../img/button.png) repeat-x left center;
	border: 1px solid #FFF;
	border-bottom: 1px solid #777;
	border-right: 1px solid #777;
	cursor: pointer;
	border-radius:3px;
}
input[type="submit"]:hover{
	background: #D1D1D1 url(../img/button-h.png) repeat-x left center;
}
input.delete{
	margin-left: 1em;
}
input.delete:hover{
	background: #ffabab url(../img/button-delete.png) repeat-x left center;
	color: #C00;
	border: 1px solid #FCC;
	border-bottom: 1px solid #F99;
	border-right: 1px solid #F99;
}
input.add{
	font-weight: bold;
}
input.add:hover{
	background: #65a5e1 url(../img/button-add.png) repeat-x left center;
	color: #000;
	border: 1px solid #a6c7e5;
	border-bottom: 1px solid #777;
	border-right: 1px solid #777;
}
.requerido{
	color: #F00;
}
