<?php view::content()?>
<div class="listar">
	<?php echo Form::open();
	 echo Form::hidden('categorias.estado','','1')?>
    <table>
    	<tr>
        	<th colspan="2" class="titulo">Agregar nueva Categoria</th>
        </tr>
        <tr>
            <td>Nombres</td>
			<td><?php echo Form::text('categorias.nombres')?></td>
       	</tr>
        <tr>
            <td>Descripcion</td>
			<td><?php echo Form::textarea('categorias.descripcion')?></td>
       	</tr>
        <tr>
            <td colspan="2"><?php echo Form::submit('Agregar');echo Html::link('categorias','Cancelar',array('class'=>'cancelar'))?></td>
        </tr>
    </table>
    <?php echo Form::close();?>          
</div>