<?php view::content();?>
<?php echo Form::open();
	echo Form::hidden('categorias.id');
	echo Form::hidden('categorias.estado','','1')?>
	<table>
    	<tr>
        	<th colspan="2" class="titulo">Modificar categoría</th>
        </tr>
        <tr>
            <td>Nombres</td>
			<td><?php echo Form::text('categorias.nombres')?></td>
       	</tr>
        <tr>
            <td>Descripción</td>
			<td><?php echo Form::textarea('categorias.descripcion')?></td>
       	</tr>
        <tr>
            <td colspan="2"><?php echo Form::submit('Agregar');echo Html::link('categorias','Cancelar',array('class'=>'cancelar'))?></td>
        </tr>
    </table>
<?php echo Form::close();?>
