<div class="row">
    <dl class="sub-nav">
      <dd class="active"><?php echo Html::link('categorias/','Mostrar')?></dd>
      <dd class="active"><?php echo Ajax::link('categorias/create/','Agregar categoria','ver')?></dd>
    </dl>

    <div class="clear"></div>
    <div id="ver">
    <table>
    	<tr>
        	<th colspan="4" class="titulo">Lista de categorias</th>
        </tr>
        <tr>
            <td>N°</td>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Operaci&oacute;n</td>
        </tr>
        <?php $n=0; foreach($verCategorias as $categoria): $n++;?>
        <tr>
            <td><?php echo $n?></td>
            <td><?php echo $categoria->nombres?></td>
            <td><?php echo $categoria->descripcion?></td>
            <td><?php 
				echo Ajax::linkAction("editar/$categoria->id",'Editar','ver').' / ';
            	echo Js::linkAction("del/$categoria->id",'Borrar','Esta seguro de realizar esta acción')?>
           	</td>
        </tr>
        <?php endforeach;?>
    </table>
    </div>
</div>
