





<div id="footer">
	<dl class="tabs pill">
  		<dd><a href="#pillTab2">Chosica Av Lima Sur Nº123</a></dd>
  		<dd><a href="#pillTab2"><?php echo 'Tiempo: '.round((microtime(1)-START_TIME),4).' seg.'; echo ', Memoria Usada: '.number_format(memory_get_usage() / 1048576, 2).' MB';?></a></dd>
	</dl>

   <div class='alignright'><p></p></div>
</div>

