<?php 	extract(Router::get(), EXTR_OVERWRITE);
echo "<script src='", PUBLIC_PATH, "javascript/jquery/jquery-1.6.2.min.js'></script>";
echo "<script src='", PUBLIC_PATH, "javascript/jquery/jquery+kumbiaphp.min.js'></script>";	
echo "<script src='", PUBLIC_PATH, "javascript/jquery/dimensions.js'></script>";
echo "<script src='", PUBLIC_PATH, "javascript/jquery/jquery.autocomplete.js'></script>";
	