<?php

extract(Router::get(), EXTR_OVERWRITE);
echo "<script type='text/javascript' src='", PUBLIC_PATH, "javascript/jquery/jquery.min.js'></script>";
echo "<script type='text/javascript' src='", PUBLIC_PATH, "javascript/jquery/jquery.kumbiaphp.min.js'></script>";