<?php echo View::content(); ?> 
<div class='ten row'>
  <?php echo Form::open(); ?>
    <div class="form">
        <div class="four row">
          <?php echo Form::label("Usuario","login");?>
          <?php echo Form::text("login");?>
        </div>
        <div class="four row">
          <?php echo Form::label("Password","password");?>
          <?php echo Form::pass("password");?>  
        </div> 
        <?php echo Form::submit("Ingresar",'class="button"'); ?>
    </div>
  <?php echo Form::close(); ?>
</div>
