<?php view::content()?>
<div class="listar">
	<?php echo Form::open();
		 echo Form::hidden('productos.estado','','1')?>
    <table>
        <tr>
            <th colspan="2" class="titulo">Agregar nuevo Producto</th>
        </tr>
        <tr>
            <td>Nombres</td>
			<td><?php echo Form::text('productos.nombres')?></td>
       	</tr>
        <tr>
         	<td>Categoria</td>
			<td><?php echo Form::dbSelect('productos.categorias_id','nombres',array('categorias','find'),'- Seleccione -')?></td>
       	</tr>
        <tr>
            <td>Descripcion</td>
			<td><?php echo Form::text('productos.descripcion')?></td>
       	</tr>
        <tr>
            <td>Precio</td>
			<td><?php echo Form::text('productos.precio')?></td>
       	</tr>
        <tr>
            <td>Stock</td>
			<td><?php echo Form::text('productos.stock')?></td>
       	</tr>
        <tr>
            <td colspan="2"><?php echo Form::submit('Agregar'); echo Html::link('productos','Cancelar',array('class'=>'cancelar'))?></td>
        </tr>
    </table>
    <?php echo Form::close();?>          
</div>