<div class="row">
    <dl class="sub-nav">
      <dd class="active"><?php echo Html::link('productos/','Mostrar Todo')?></dd>
      <dd class="active"><?php echo Ajax::link('productos/create/','Agregar Producto','ver')?></dd>
    </dl>
    <div class="listar">
        <div class="clear"></div>
        <div id="ver">
        <table>
            <tr>
                <th colspan="7" class="titulo">Lista de Productos</th>
            </tr>
            <tr>
                <td>N°</td>
                <td>Nombre</td>
                <td>Categoria</td>
                <td>Precio</td>
                <td>Stock</td>
                <td>Descripcion</td>
                <td>Op</td>
            </tr>
            <?php $n=0; foreach($verProductos as $producto): $n++;?>
            <tr>
                <td><?php echo $n?></td>
                <td><?php echo $producto->nombres?></td>
                <td><?php echo $producto->categorias_id?></td>
                <td><?php echo $producto->precio?></td>
                <td><?php echo $producto->stock?></td>
                <td><?php echo $producto->descripcion?></td>
                <td><?php 
                    echo Ajax::linkAction("editar/$producto->id",'Editar','ver').' / ';
                    echo Js::linkAction("del/$producto->id",'Borrar')?>
                </td>
            </tr>
            <?php endforeach;?>
        </table>
        </div>
    </div>
</div>
