/*
** Etilos Ventas
*/
body{width:1024px; margin-left: auto; margin-right: auto;}
.pagina{ margin:0px auto; width:960px; border:1px solid #CCC}
.titulo{ text-align:center }

/*
** Menu principal
*/
#navcontainer { float:left; width:100%; background:#fff; font: bold 7.5pt Verdana; border-top:1px solid #6659A7; }
ul#navlist { float: left; position: relative; left: 50%; margin: 0; padding: 0; list-style-type: none; white-space: nowrap; }
ul#navlist li { float: left; position: relative; right: 50%; font-family: verdana, arial, sans-serif; font-size: 12px; font-weight: bold; margin: 0; padding: 5px 0 4px 0; background-color: #6659A7; } 
#navlist a, #navlist a:link { margin: 0; padding: 5px 9px 4px 9px; color: #fff; text-decoration: none; } 
ul#navlist li#active { color: #95bbae; background-color: #d1e3db; } 
#navlist a:hover { color: #666; background-color: #fff; border-radius:3px } 
/*
** Menu secundario
*/
.enlaces{ margin:auto 0 auto 0; width:100%; background:#fff; font: bold 7.5pt Verdana; border-top:1px solid #6659A7;}
#enlaces{ float: left; position: relative; left: 50%; margin: 0; padding: 0; list-style-type: none; white-space: nowrap; }
.w{ float: left; position: relative; right: 50%; font-family: verdana, arial, sans-serif; font-size: 11px; font-weight: bold; margin: 0 0 5px 0; padding: 5px 0 4px 0; background-color: #6659A7; }
.w a, .w a:link{ margin: 0; padding: 5px 9px 4px 9px; color: #fff; text-decoration: none;}
.w#active{ color: #95bbae; background-color: #d1e3db;}
.w a:hover{ color: #666; background-color: #fff; border-radius:3px}

.cancelar{
	font-size: 1em;
	color: #000;
	padding: 1px;
   	margin: 5px 0;
	background: #D1D1D1 url(../../img/button.png) repeat-x left center;
	border: 1px solid #FFF; 
	border-bottom: 1px solid #777; 
	border-right: 1px solid #777;
	cursor: pointer;
	border-radius:3px;
	text-decoration:none;
	float:left }
.cancelar:hover{ background: #D1D1D1 url(../../img/button-h.png) repeat-x left center }
/* 
** Scaffold 
*/
table{ border-collapse: collapse; border: 1px solid #D9D9D9; margin:0px auto; padding:0px }
th{
	background: #D7DDE4;
	border-right: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	text-align: left;
	font-weight:bold;
	padding: 6px;
	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8) }
tr{ border-bottom: 1px solid #F1F5F9; background:#FFF }
tr:nth-child(even) { background:#F1F5F9 }
tr:hover{ background:#efe }
label, input{ display: block }
td{ border-right:1px solid #D9D9D9; padding: 2px }
.paginator{}
.paginator .nextprev{ color: #000 }
.paginator a{ border:1px solid #e8ebf1; padding:.5em; text-decoration:none; margin: .5em .1em; background:#FFF }
.paginator a:hover{ background: #e8ebf1 }
.paginator strong{ background: #e8ebf1; border:1px solid #e8ebf1; padding:.5em; margin: .5em .1em }
.actions { border-top: dotted 1px grey; padding-top: 1em; margin: .5em 0 0 }
.actions a{
	font-size: 1em;
	padding: 4px;
   	margin: 1em 0;
	background: #D1D1D1 url(../../img/button.png) repeat-x left center;
	border: 1px solid #FFF;
	border-bottom: 1px solid #777;
	border-right: 1px solid #777;
    text-decoration: none;
    color: #000 }
.actions a:hover {  background: #65a5e1 url(../../img/button-add.png) repeat-x left center }
.actions a.del:hover{ background: #ffabab url(../../img/button-delete.png) repeat-x left center; color: #f00 }
label { font-weight:bold }
.title{ font-size: 1.5em }
fieldset{ border: 0; padding: 0; margin: 1em 0 }
textarea, input[type="text"], input[type="password"] { border: 1px solid #BBB; padding: 2px;  width:80% }
input[type="submit"]{
	font-size: 1em;
	color: #000;
	padding: 1px;
   	margin: 5px 0;
	background: #D1D1D1 url(../../img/button.png) repeat-x left center;
	border: 1px solid #FFF; 
	border-bottom: 1px solid #777; 
	border-right: 1px solid #777;
	cursor: pointer;
	border-radius:3px }
input[type="submit"]:hover{ background: #D1D1D1 url(../../img/button-h.png) repeat-x left center }
input.delete{ margin-left: 1em }
input.delete:hover{
	background: #ffabab url(../../img/button-delete.png) repeat-x left center;
	color: #C00;
	border: 1px solid #FCC;
	border-bottom: 1px solid #F99;
	border-right: 1px solid #F99 }
input.add{ font-weight: bold }
input.add:hover{
	background: #65a5e1 url(../../img/button-add.png) repeat-x left center;
	color: #000;
	border: 1px solid #a6c7e5;
	border-bottom: 1px solid #777;
	border-right: 1px solid #777 }
.requerido{ color: #F00 }
