<?php view::content();?>
<div class="pagina">
<?php echo Form::open();
	echo Form::hidden('proveedores.id');
	echo Form::hidden('proveedores.estado','','1')?>
	<table>
        <tr>
            <th colspan="2" class="titulo">Modificar Cliente</th>
        </tr>
        <tr>
            <td>Nombres <?php echo Form::text('proveedores.nombres')?></td>
            <td>Apellidos <?php echo Form::text('proveedores.apellidos')?></td>
       	</tr>
        <tr>
            <td>DNI <?php echo Form::text('proveedores.dni')?></td>
            <td>Coreo <?php echo Form::text('proveedores.correo')?></td>
       	</tr>
        <tr>
            <td>Telefono <?php echo Form::text('proveedores.telefono')?></td>
            <td>Direccion <?php echo Form::text('proveedores.direccion')?></td>
       	</tr>
        <tr>
            <td>R. social <?php echo Form::text('proveedores.razonsocial')?></td>
            <td>RUC <?php echo Form::text('proveedores.ruc')?></td>
       	</tr>
        <tr>
            <td colspan="2"><?php echo Form::submit('Agregar');echo Html::link('proveedores','Cancelar',array('class'=>'cancelar'))?></td>
        </tr>
    </table>
<?php echo Form::close();?>
</div>
