<div class="row">
    <dl class="sub-nav">
      <dd class="active"><?php echo Html::link('proveedores/','Mostrar Todo')?></dd>
      <dd class="active"><?php echo Ajax::link('proveedores/create/','Agregar proveedor','ver')?></dd>
    </dl>
    <div class="clear"></div>
    <div id="ver">
    <table>
        <tr>
            <th colspan="6" class="titulo">Lista de proveedores</th>
        </tr>
        <tr>
            <td>N°</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>telefono</td>
            <td>Dirección</td>
            <td>Op</td>
        </tr>
        <?php $n=0; foreach($verProveedores as $proveedor): $n++;?>
        <tr>
            <td><?php echo $n?></td>
            <td><?php echo $proveedor->nombres?></td>
            <td><?php echo $proveedor->apellidos?></td>
            <td><?php echo $proveedor->telefono?></td>
            <td><?php echo $proveedor->direccion?></td>
            <td><?php 
				echo Ajax::linkAction("editar/$proveedor->id",'Editar','ver').' / ';
            	echo Js::linkAction("del/$proveedor->id",'Borrar')?>
           	</td>
        </tr>
        <?php endforeach;?>
    </table>
    </div>
</div>