﻿<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Venta de computadoras y accesorios. Audio y video en todas las marcas" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="icono.ico"/>
    <meta http-equiv='Content-type' content='text/html; charset=<?php echo APP_CHARSET ?>' />
    <title>KumbiaPHP web &amp; app Framework</title>
    <?php 
        Tag::css('bienvenida');
        Tag::css('style');
        Tag::css('ventas/style');
        Tag::css('ventas/jquery.autocomplete');
        echo Html::includeCss();
        View::partial('kumbia/jquery') 
    ?>
  </head>
  <body>
    <div class="row">
      <div class="twelve columns">
        <nav class="top-bar">
          <ul>
            <!-- Title Area -->
            <li class="name">
              <h1>
                <a href="#">
                  <h1 id='logo' class="titulo">Sistema Botica</h1>
                </a>
              </h1>
            </li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li class="has-dropdown">
            <a href="#">Cerrar Sesión<?php echo Html::link('login/salir','<span>Salir')?></a>
          </li>
        </ul>
        </nav>
      </div>
    </div>
    <div class="row">
        <ul class="breadcrumbs">
          <li><a href="#"><?php echo Html::link('categorias','Categorias')?></a></li>
          <li><a href="#"><?php echo Html::link('usuarios','Usuarios')?></a></li>
          <li><a href="#"><?php echo Html::link('productos','Productos')?></a></li>
          <li><a href="#"><?php echo Html::link('clientes','Clientes')?></a></li>
          <li><a href="#"><?php echo Html::link('proveedores','Proveedores')?></a></li>
          <li><a href="#"><?php echo Html::link('documentos','Documentos')?></a></li>
          <li><a href="#"><?php echo Html::link('operaciones','Operaciones')?></a></li>
          <li><a href="#"><?php echo Html::link('reportes','Reportes')?></a></li>
        </ul>
    </div>

    <div class="six row">
      	<setion id="contenido">
          <?php View::content(); ?>
        </setion>
        <footer class="pie">
          <?php View::partial('kumbia/footer') ?>
        </footer>
    </div>

  </body>
</html>
