﻿<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Venta de computadoras y accesorios. Audio y video en todas las marcas" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="shortcut icon" type="image/x-icon" href="icono.ico"/>
		<meta http-equiv='Content-type' content='text/html; charset=<?php echo APP_CHARSET ?>' />
		<title>Sistema Botica</title>
		<?php 
			Tag::css('bienvenida');
			Tag::css('style');
			Tag::css('ventas/style');
			Tag::css('ventas/jquery.autocomplete');
			echo Html::includeCss();
			View::partial('kumbia/jquery') 
		?>
	</head>
	<body>

    <div class="row">
      <div class="twelve columns">
        <nav class="top-bar">
          <ul>
            <!-- Title Area -->
            <li class="name">
              <h1>
                <a href="#">
                  <h1 id='logo' class="titulo">Sistema Botica</h1>
                </a>
              </h1>
            </li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>
        </nav>
      </div>
    </div>

	<div class="four row">   		
			<?php View::content(); ?>
	    <footer>
	    	<?php View::partial('kumbia/footer') ?>
	  	</footer>
    </div>        
	</body>
</html>
