<?php view::content();?>
<?php echo Form::open();
	echo Form::hidden('documentos.id');
	echo Form::hidden('documentos.estado','','1')?>
	<table>
        <tr>
            <th colspan="2" class="titulo">Modificar Facultad</th>
        </tr>
        <tr>
            <td>Nombres</td>
			<td><?php echo Form::text('documentos.nombres')?></td>
       	</tr>
        <tr>
            <td>Descripcion</td>
			<td><?php echo Form::text('documentos.descripcion')?></td>
       	</tr>
        <tr>
            <td colspan="2"><?php echo Form::submit('Agregar');echo Html::link('documentos','Cancelar',array('class'=>'cancelar'))?></td>
        </tr>
    </table>
<?php echo Form::close();?>