<div class="row">
    <dl class="sub-nav">
      <dd class="active"><?php echo Html::link('documentos/','Mostrar Todo')?></dd>
      <dd class="active"><?php echo Ajax::link('documentos/create/','Agregar documento','ver')?></dd>
    </dl>

    <div class="clear"></div>
    <div id="ver">
    <table>
        <tr>
            <th colspan="4" class="titulo">Lista de documentos</th>
        </tr>
        <tr>
            <td>N°</td>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Op</td>
        </tr>
        <?php $n=0; foreach($verDocumentos as $documento): $n++;?>
        <tr>
            <td><?php echo $n?></td>
            <td><?php echo $documento->nombres?></td>
            <td><?php echo $documento->descripcion?></td>
            <td><?php 
				echo Ajax::linkAction("editar/$documento->id",'Editar','ver').' / ';
            	echo Js::linkAction("del/$documento->id",'Borrar')?>
           	</td>
        </tr>
        <?php endforeach;?>
    </table>
</div>
