'
<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Presio</th>
        <th>Importe</th>
    </tr>
    <?php $suma=0;foreach($detalles as $detalle){
        $suma=$suma+($detalle->getProductos()->precio*$detalle->cantidad)?>
    <tr>
        <td><?php echo $detalle->getProductos()->nombres?></td>
        <td><?php echo $detalle->cantidad?></td>
        <td><?php echo $detalle->getProductos()->precio?></td>
        <td><?php echo 'S/. '.$detalle->getProductos()->precio*$detalle->cantidad?></td>
    </tr>
    <?php } ?>
    <tr>
        <td colspan="3" align="right">Total</td>
        <td><?php echo 'S/. '.$suma?></td>
    </tr>
</table>