<?php View::content(); View::partial('autocomplete')?>
<table>
	<tr>
    	<th colspan="4">
        	Detalle de la operacion: <?php echo $operacion->id?> del <?php echo date("d - m - Y", strtotime($operacion->fecha_at));?>
         </th>
    </tr>
	<tr>
    	<td>Operacion</td>
    	<td><?php echo $operacion->getTipooperacion()->nombres?> </td>
    	<td>Documento</td>
    	<td><?php echo $operacion->getDocumentos()->nombres?> </td>
    </tr>
	<tr>
    	<td>Cliente</td>
    	<td colspan="3"><?php echo $operacion->getClientes()->nombres.' '.$operacion->getClientes()->apellidos?> </td>
    </tr>
</table>
<div style="height:10px"></div>
<div id="detalle">
<?php echo Ajax::form('add','operaciones/add','','post');
	echo Form::hidden('idoperacion','',$operacion->id);?>
<table>
	<tr>
    	<td>Unidades</td>
    	<td><?php echo Form::text('cantidad','', 1)?></td>
    	<td>Producto</td>
    	<td><?php echo Form::text('producto')?></td>
    	<td><?php echo Form::submit('Agregar')?></td>
    </tr>
</table>
<? echo Form::close()?>
<div style="height:10px"></div>
<div id="add">
<?php echo Ajax::form('detalle','operaciones/confirmarventa/'.$idop,'','post')?>
	<table>
	<tr>
    	<th>Producto</th>
    	<th>Cantidad</th>
    	<th>Presio</th>
    	<th>Importe</th>
        <th>Operac.</th>
    </tr>
    <?php $suma=0; foreach($listaDetalles as $detalle){
	$suma=$detalle->getProductos()->precio*$detalle->cantidad?>
	<tr>
    	<td><?php echo $detalle->getProductos()->nombres?></td>
    	<td><?php echo $detalle->cantidad?></td>
    	<td><?php echo $detalle->getProductos()->precio?></td>
    	<td><?php echo 'S/. '.$detalle->getProductos()->precio*$detalle->cantidad?></td> 
        <td align="center">
			<?php echo "[ ".Ajax::link('operaciones/borraritem/'.$detalle->id.'/'.$detalle->operaciones_id,'X','add')." ]";?>
       	</td>
    </tr>
    <?php } ?>
    <tr>
    	<td colspan="3" align="right">Total</td>
    	<td><?php echo $suma?></td>
        <td></td>
    </tr>
    <tr>
    	<td colspan="5" align="right"><?php echo Form::hidden('suma','',$suma); echo Form::submit('Confirmar')?></td>
    </tr>
</table>
<?php echo Form::close()?>
</div>
</div>
</div>





















