<?php View::content(); ?>

<div class="row">
    <dl class="sub-nav">
      <dd class="active"><?php echo Html::link('operaciones/','Atras')?></dd>
      <dd class="active"><?php echo Ajax::link('operaciones/ventas','Ventas','ver')?></dd>
      <dd class="active"><?php echo Html::link('operaciones','Mostrar')?></dd>           
    </dl>

    <div class="clear"></div>
    <div id="ver">
    	<table>
            <tr>
                <th colspan="3" class="titulo">Ultima venta</th>
            </tr>
        	<tr>
             	<td> </td>
             	<td></td>
            	<td></td>
            </tr>
      	</table>
    </div>
</div>