<?php echo Ajax::form('detalle','operaciones/confirmarventa/'.$idop,'','post')?>
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Presio</th>
            <th>Importe</th>
            <th>Operac.</th>
        </tr>
        <?php $suma=0; foreach($listaDetalles as $detalle){
            $suma=$suma+($detalle->getProductos()->precio*$detalle->cantidad)?>
        <tr>
            <td><?php echo $detalle->getProductos()->nombres?></td>
            <td><?php echo $detalle->cantidad?></td>
            <td><?php echo $detalle->getProductos()->precio?></td>
            <td><?php echo 'S/. '.$detalle->getProductos()->precio*$detalle->cantidad?></td>
            <td align="center">
                <?php echo "[ ".Ajax::link('operaciones/borraritem/'.$detalle->id.'/'.$idop,'X','add')." ]";?></td>
            </tr>
        </tr>
        <?php } ?>
        <tr>
            <td colspan="3" align="right">Total</td>
            <td><?php echo 'S/. '.$suma?></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5" align="right">
				<?php echo Form::hidden('suma','',$suma); echo Form::submit('Confirmar')?>
            </td>
        </tr>
    </table>
<?php echo Form::close()?>
