<?php View::content(); View::partial('autocomplete')?>
<div class="listar">
	<?php echo Form::open();
		echo Form::hidden('operaciones.tipooperacion_id','','1');
		echo Form::hidden('operaciones.parametros_id','','1');
		echo Form::hidden('operaciones.proveedores_id','','0');
		echo Form::hidden('idcliente','','0')?>
    <table>
        <tr>
            <th colspan="2" class="titulo">
                Nueva venta
            </th>
        </tr>
        <tr>
            <td>Cliente</td>
            <td><?php echo Form::text('cliente',array('size'=>'40'))?></td>
        </tr>
        <tr>
            <td>Documento</td>
            <td><?php echo Form::dbSelect('operaciones.documentos_id','nombres',array('documentos','find'),'Seleccione','','1')?></td>
        </tr>
        <tr>
            <td>Descripcion</td>
            <td><?php echo Form::text('operaciones.descripcion')?></td>
        </tr>
        <tr>
            <td></td>
            <td><?php echo Form::submit('Grabar'); echo Html::link('operaciones','Cancelar',array('class'=>'cancelar')) ?></td>
        </tr>
    </table>
    <?php echo Form::close()?>
</div>
